#sobre{
    padding: 0 10vw;
}

.foto{
    max-width: 100%;
    width: 300px;
    height: min-content;
    display: inline-block;
}

#sobre p{
    color: var(--cor2);
    font-size: 18px;
    display: inline-block;
    padding-bottom: 15px;

}

.texto-foto{
    display: flex;
    align-items: center;
    gap: 20px;
}

#sobre h2{
    text-align: center;
    font-size: 30px;
    color: var(--cor4);
    text-transform: uppercase;
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    width: 100%;
}

.icone{
    font-size: 80px;
    color: var(--cor2);
}

.icone-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease .4s;
}

.icone-container:hover{
    transform: scale(1.2);
}

.js *:hover{
    color: #f1c766;
}

.html *:hover, .java *:hover{
    color: #f7945f;
}

.css *:hover, .postgre *:hover{
    color: #4e75e1;
}

.bootstrap *:hover{
    color: #954ee1;
}

@media screen and (max-width: 1150px) {
    .texto-foto{
        flex-direction: column;
        align-items: center;
    }
}